<section>
    <div class="container">
        <div>
            <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show">
                <strong>¡Éxito! </strong> {{ successMessage }}
                <button type="button" (click)="cleanLogs()" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Cerrar"></button>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>ERROR:</strong> {{ errorMessage }}
                <button type="button" (click)="cleanLogs()" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Cerrar"></button>
            </div>

            <div class="mb-4 alert-dismissible fade show" *ngIf="successMessage || errorMessage && logEjecucionKettle">
                <button class="btn btn-primary" id="logKettle" (click)="crearLogsKettle()">Descargar logs</button>
            </div>
        </div>

        <div>
            <h5>Seleccione la transformación de Kettle</h5>
            <input type="file" class="form-control tam-file-input" id="kettleFile" (change)="onFileSelected($event)">
        </div>

        <div class="mt-3">
            <label for="logLevelKettle">Nivel de los logs</label>
            <select [(ngModel)]="logLevelKettleSelected" (change)="logVar(logLevelKettleSelected)"
                class="form-select tam-select-logs-kettle" name="logLevelKettle" id="logLevelKettle">
                <option *ngFor="let level of keys(logsLevelKettle)" [ngValue]="level">
                    {{ logsLevelKettle[level] }}
                </option>
            </select>
        </div>

        <div class="mt-3 mb-3">
            <label for="kettle_adjuntos">¿Lleva adjuntos?</label>
            <select [(ngModel)]="llevaAdjuntos" class="form-select tam-select" id="kettle_adjuntos"
                aria-label="Adjuntos de Kettle">
                <option [ngValue]="false">No</option>
                <option [ngValue]="true">Si</option>
            </select>
        </div>
        <!-- <div class="mb-3" *ngIf="llevaAdjuntos">
            <label for="origen_datos">Origen de datos *</label>
            <select [(ngModel)]="origenDatosSelected" class="form-select tam-select" id="origen_datos"
                aria-label="Origen de datos">
                <option [ngValue]="null"></option>
                <option *ngFor="let origen of origenDatos" [value]="origen">
                    {{ origen }}
                </option>
            </select>
        </div> -->

        <div class="mb-3" *ngIf="llevaAdjuntos">
            <label for="adjuntos">Adjuntos *</label>
            <input type="file" (change)="onMultipleFilesSelected($event)" class="form-control tam-file-input"
                id="adjuntos" name="adjuntos" multiple>
        </div>

        <div class="">
            <button class="btn btn-success" (click)="uploadFile()" [disabled]="!file">Confirmar</button>
        </div>
    </div>

</section>